@model ModelEF.Model.loai_sp

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    <i class="fa" style="color: #fc05ff;">Tạo mới Menu Món Ăn</i>
}
<div class="row">
    <div class="col-md-12 ">
        <div class="card">
            @*            <div class="card-header">
                    <h5 class="title">Edit Profile</h5>
                </div>*@
            <div class="card-body">
                @using (Html.BeginForm("Create", "LoaiSP", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Thêm Menu</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label>Tên Menu</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.Name,  new { @class = "form-control"  })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Nội Dung</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">

                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-compose" href="javascript:history.go(-1)">Quay lại</a>
                                </div>
                                <div class="col-md-offset-2 col-md-2">
                                    <input type="submit" value="Thêm" class="btn btn-success" />
                                </div>
                            </div>

                        </div>
                    </div>
                }


            </div>
        </div>
    </div>

</div>
<script>

    var mn = document.getElementById("mn");
    mn.classList.add("active");

</script>